 /* Change background/text/url colors here */

html {
height: 100%;
background-color: #FFFFFF;
font-family: verdana;
font-size: 18px;
}

body {
height: 100%;
color: #000000;
overflow: hidden;
text-align:center;
}

a:link {
  color: #000000;
  text-decoration:none
}

a:visited {
  color: #000000;
  text-decoration:none
}

a:active {
  color: #000000;
  text-decoration:none
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
iframe { 
  border: none;
}
